---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Mis Servicios"
	description="Servicios de desarrollo web y estrategia de Pathdawann"
	pubDate={new Date('August 08 2025')}
>
	<h1>Lo que puedo hacer por ti</h1>
	<p>Aquí detallaré mis servicios de Desarrollo Web y Estrategia de Contenidos.</p>
    
    <ul>
        <li>Desarrollo Web a Medida</li>
        <li>Optimización y Mantenimiento</li>
        <li>Estrategia de Contenidos</li>
    </ul>
</Layout>